<ion-header>
  <ion-navbar class="container-header">
    <div style="display: flex; font-size: 35px;">
      <ion-buttons slot="start">
        <ion-icon (click)="back()" name="chevron-back" color="greenbrand"></ion-icon>
      </ion-buttons>
      <ion-title class="title text-center" color="bluebrand">
        {{title}}
      </ion-title>
    </div>
    <div class="container-icons">
      <ion-icon name="radio-button-on" color="greenbrand" *ngIf="position == 1"></ion-icon>
      <ion-icon name="remove" color="light" *ngIf="position == 1"></ion-icon>
      <ion-icon name="radio-button-off" color="light"></ion-icon>
      <ion-icon name="remove" color="light"></ion-icon>
      <ion-icon name="radio-button-on" color="greenbrand" *ngIf="position == 2"></ion-icon>
      <ion-icon name="remove" color="light" *ngIf="position == 2"></ion-icon>
      <ion-icon name="radio-button-off" color="light"></ion-icon>
      <ion-icon name="remove" color="light"></ion-icon>
      <ion-icon name="radio-button-on" color="greenbrand" *ngIf="position ==3"></ion-icon>
      <ion-icon name="remove" color="light" *ngIf="position ==3"></ion-icon>
      <ion-icon name="radio-button-off" color="light"></ion-icon>
      <ion-icon name="remove" color="light" *ngIf="position == 4"></ion-icon>
      <ion-icon name="radio-button-on" color="greenbrand" *ngIf="position == 4"></ion-icon>
    </div>
  </ion-navbar>
</ion-header>